<h3>Thanks for shopping with us!</h3>

<p>Let's review your order:</p>

<% @order.order_items.each do |key, value| %>

	<ul>
		<li>Product: <%= Product.find(key).name %> - QTY: <% value %></li>
	</ul>

<% end %>

<p>
	<strong>Sub Total:</strong> <%= number_to_currency @order.subtotal %><br>
	<strong>Tax Total:</strong> <%= number_to_currency @ order.sales_tax %><br>
	<strong>Order Total</strong> <%= number_to_currency @order.grand_total %>
</p>